@font-face{
    font-family: Korcy;
    src: url('../fonts/Korcy.ttf') format('truetype');
}

main{
    padding: 30px;
}

footer{    
    padding: 30px;
    border-bottom: 10px solid yellowgreen;
}

body {
    background: #5f5436;
    border-top: 10px solid yellowgreen;
    border-left: 10px solid yellowgreen;
    border-right: 10px solid yellowgreen;
  
    .nome {
        color: yellowgreen;
        width: 600px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Korcy', sans-serif;
        font-size: 300%;
    }

    .foto{
        width: 125px;
        height: 182px;
        display: block;
        margin: 5px auto 0 auto;
    }

   
}