@font-face{
    font-family: Korcy;
    src: url('../fonts/Korcy.ttf') format('truetype');
}

main{
    padding: 30px;
}


body {
  
    background-image: url("../images/Fundo.jpg");
    color: white;
    font-family: Korcy;
    
  
    .nome {
        color: whitesmoke;
        border-radius: 100%;
        width: 600px;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
        font-family: 'Korcy', sans-serif;
        font-size: 300%;
        text-shadow: 5px 5px 5px grey;
    }

    .nome:hover{
        border-radius: 0%;
    }

    .foto{
        width: 115px;
        height: 162px;
        display: block;
        margin: 0 auto;
        border-radius: 5px 5px 5px 5px;
    }

   
}